html,
body,
header,
.view{
    height: 1000;
}
.video-container {
    position: absolute;
    text-outline: 0;
    left:0;
    width:100%;
    height:100%;
    overflow: hidden;
    background:no-repeat center center/cover;
}
.video-container video{
    min-width: 100%;
    min-height: 100%;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    object-fit: cover;
}
.card{
    background-color: rgba(126,123,215,0.2 );
}
#name{
    background-color: rgba(0,0,0,0);
    color: white;
    border: none;
    outline: none;
    height: 30px;
    box-shadow: 0 1px 0 0 #fff;
    transition:height ls;
    -webkit-transition: height 1s;
}
#name:focus {
    height: 50px;
    font-size: 16px;
}

#pass{
    background-color: rgba(0,0,0,0);
    color: white;
    border: none;
    outline: none;
    height: 30px;
    box-shadow: 0 1px 0 0 #fff;
    transition:height ls;
    -webkit-transition: height 1s;
}
#pass:focus {
    height: 50px;
    font-size: 16px;
}
#email{
    background-color: rgba(0,0,0,0);
    color: white;
    border: none;
    outline: none;
    height: 30px;
    box-shadow: 0 1px 0 0 #fff;
    transition:height ls;
    -webkit-transition: height 1s;
}
#email:focus {
    height: 50px;
    font-size: 16px;
}
#cpass{
    background-color: rgba(0,0,0,0);
    color: white;
    border: none;
    outline: none;
    height: 30px;
    box-shadow: 0 1px 0 0 #fff;
    transition:height ls;
    -webkit-transition: height 1s;
}
#cpass:focus {
    height: 50px;
    font-size: 16px;
}